body {
    color: #999;
}

.btn {
    display: block;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    line-height: 50px;
    text-align: center;
    color: white;
    background: #0B63F6;
    box-shadow: 0 5px 0 #003CC5;
    margin: 200px ;
    height: 50px;
    width: 180px;
}

.btn:hover {
    background: #003CC5;
    box-shadow: none;
    position: relative;
    top: 5px;
}

/* Popover */
.popover {
    position:absolute;
    top:0;
    left:0;
    z-index:1060;
    display:block;
    max-width:276px;
    line-height:1.5;
    text-align:left;
    text-align:start;
    text-decoration:none;
    text-shadow:none;
    text-transform:none;
    letter-spacing:normal;
    word-break:normal;
    word-spacing:normal;
    white-space:normal;
    line-break:auto;
    font-size:.875rem;
    word-wrap:break-word;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid rgba(0,0,0,.2);
    border-radius:.3rem
  }

.popover-header{
    padding:.5rem .75rem;
    margin-bottom:0;
    font-size:1rem;
    background-color:#f7f7f7;
    border-bottom:1px solid #ebebeb;
    border-top-left-radius:calc(.3rem - 1px);
    border-top-right-radius:calc(.3rem - 1px)
}

.popover-header:empty{
    display:none
}
.popover-body{
    padding:.5rem .75rem;
    color:#212529
}

.arrow {
    width: 20px;
    height: 25px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
  }

  .arrow::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    top: 0;
    left: 50%;
    border: 1px solid;
  }
  